[submodule "ros_workspace/src/rosserial"]
	path = ros_workspace/src/rosserial
	url = git@github.com:ros-drivers/rosserial.git
[submodule "ros_workspace/src/mavros"]
	path = ros_workspace/src/mavros
	url = git@github.com:mavlink/mavros.git
