[submodule "microros_ws/src/micro_ros_setup"]
	path = microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
[submodule "microros_ws/src/eProsima/Micro-CDR"]
	path = microros_ws/src/eProsima/Micro-CDR
	url = https://github.com/eProsima/Micro-CDR.git
[submodule "microros_ws/src/eProsima/Micro-XRCE-DDS-Client"]
	path = microros_ws/src/eProsima/Micro-XRCE-DDS-Client
	url = https://github.com/eProsima/Micro-XRCE-DDS-Client.git
[submodule "microros_ws/src/ros2/common_interfaces"]
	path = microros_ws/src/ros2/common_interfaces
	url = https://github.com/ros2/common_interfaces
[submodule "microros_ws/src/ros2/example_interfaces"]
	path = microros_ws/src/ros2/example_interfaces
	url = https://github.com/ros2/example_interfaces
[submodule "microros_ws/src/ros2/rcl_interfaces"]
	path = microros_ws/src/ros2/rcl_interfaces
	url = https://github.com/ros2/rcl_interfaces
[submodule "microros_ws/src/ros2/unique_identifier_msgs"]
	path = microros_ws/src/ros2/unique_identifier_msgs
	url = https://github.com/ros2/unique_identifier_msgs
[submodule "microros_ws/src/uros/micro-ROS-demos"]
	path = microros_ws/src/uros/micro-ROS-demos
	url = https://github.com/micro-ROS/micro-ROS-demos.git
[submodule "microros_ws/src/uros/micro_ros_msgs"]
	path = microros_ws/src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
[submodule "microros_ws/src/uros/micro_ros_utilities"]
	path = microros_ws/src/uros/micro_ros_utilities
	url = https://github.com/micro-ROS/micro_ros_utilities
[submodule "microros_ws/src/uros/rclc"]
	path = microros_ws/src/uros/rclc
	url = https://github.com/ros2/rclc.git
[submodule "microros_ws/src/uros/rmw_microxrcedds"]
	path = microros_ws/src/uros/rmw_microxrcedds
	url = https://github.com/micro-ROS/rmw-microxrcedds.git
[submodule "microros_ws/src/uros/rosidl_typesupport_microxrcedds"]
	path = microros_ws/src/uros/rosidl_typesupport_microxrcedds
	url = https://github.com/micro-ROS/rosidl_typesupport_microxrcedds.git
[submodule "microros_ws/build/micro_ros_agent/agent/src/xrceagent"]
	path = microros_ws/build/micro_ros_agent/agent/src/xrceagent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "microros_ws/src/uros/micro-ROS-Agent"]
	path = microros_ws/src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
