[submodule "orca_auv_ros2_ws/src/micro_ros_setup"]
	path = orca_auv_ros2_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
[submodule "SAUVC2024_STM32"]
	path = SAUVC2024_STM32
	url = git@github.com:NCTU-AUV/SAUVC2024_STM32.git
	branch = start_over_attempt
